.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-agent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  justify-content: center; 
  align-items: center;
  min-height: 100vh; 
  margin: 200; 
}

.results-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50; 
}

.result-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.query-text {
  text-align: right;
  font-size: 14px;
  color: #333;
  word-break: break-word;
  margin-bottom: 30px;
  width: auto;
  max-width: 70%;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px 15px;
  display: inline-block;
}

.result {
  text-align: left;
  font-size: 14px;
  color: #333;
  word-break: break-word;
  white-space: pre-wrap;
  margin-bottom: 30px;
  width: 600px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px 15px;
  display: inline-block;
}

.error {
  text-align: left;
  font-size: 14px;
  color: #333;
  word-break: break-word;
  margin-bottom: 30px;
  width: 600px;
  background-color: #f9d8d8;
  border-radius: 8px;
  padding: 10px 15px;
  display: inline-block;
  align-self: flex-end;
}

.input-container {
  display: flex;
  gap: 10px;
  padding: 15px 20px;
  background-color: #fff;
  flex-shrink: 0;
  width: 600px;
}

.input-container input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.input-container input:focus {
  border-color: #999;
}

.input-container input:disabled {
  background-color: #fff;
  cursor: not-allowed;
}

.input-container button {
  padding: 10px 25px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.input-container button:hover:not(:disabled) {
  background-color: #f5f5f5;
}

.input-container button:disabled {
  cursor: not-allowed;
}

